{% extends 'index.html' %}

{% block body %}
<div class="container tim-container">
	<div class="tim-title">
		<center>
			<h1 class="header">Introduction to Vyom</h1>
		</center>
	</div>
	<br>
	<div class="container">
		<p>
		With the rise in global warming and increasing pollution levels on metropolitan roads, it is
		becoming essential to find a viable alternative to reduce the pollution on the crowded roads.
		Metros across the world bear the major brunt of environment pollution and Total Sus-
		pended Particulate (TSP) is 3 times the level WHO above annual average in in these cities
		which is having an adverse affect on the health of people and biodiversity nearby.<br><br>
		The  Aim  of  this  project  was  to  create  a  product  to  lessen  the  pollution  level  on  busy
		roads where the main criteria being it’s cost and environment friendliness in terms of both
		efficiency  and  materials.   This  Report  present  design  of  six  such  forms,  where  initially  we
		build the need statement, specified the product specification to come up with a single form
		upon evaluating them on benchmarked product.<br><br>
		Finally the most efficient product design is proposed with detailing of the process after
		product specification were screened with user requirement, need statement and effectiveness
		of the cost.<br><br>
		</p>
	</div>
</div>
<div class="space"></div>
<div class="container tim-container">
	<div class="tim-title">
		<center>
			<h1 class="header">Our Objective</h1>
		</center>
	</div>
	<br>
	<div class="container">
		<p>
		The project aims towards reducing the amount of Particulate matter in the air around busy
		roads.  Our desired product should be better than the existing solutions like anti-pollution
		mask, smog sucking bikes etc.  and should provide better environment around busy roads.
		We expect our product to be able to reduce PM10 and PM2.5(particulate matter of 10 and
		2.5 micron) levels on such roads significantly resulting in an environment that is pollution
		free  and  harmless  to  human  life.   The  product  should  ensure  and  maintain  clean  air  and
		provide safety to nearby biodiversity.  On the whole, the product we aim to design should
		reduce concentration of particulate matter in the air around heavily crowded roads.
		</p>
	</div>
</div>
{% endblock %}